@font-face {
    font-family: "myfont";
    src: url("./font/Kermel-regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'myfont', cursive;
    color: white;
}

button,
span {
    color: black;
}

body {
    overflow: hidden;
    background-color: #2C3B7C;
    /* background-image: url(./src/room.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-col {
    position: relative;
    width: 35%;
    height: 100%;
}

.wrapper {
    width: 50%;
    height: 70vh;
    transform: translateY(0);
    display: none;
    position: relative;
}

.singer, .singer2 {
    position: fixed;
    bottom: 0;
    left: 0px;
    opacity: 0;
    transition: all 1s;
}
.singer2{
    left: -95px;
    z-index: -1;
    display: flex;
    justify-content: end;
}
.singer2 img{
    width: 650px;
    z-index: 999;
    opacity: 1;
}

.slide {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    opacity: 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    transition: all 8s;
    border-radius: 40px;
}

.slide0 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 38px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 2s;
}

.title span {
    opacity: 0;
    transition: all 2s;
}

.appear {
    opacity: 1;
    transform: scale(1);
    transition: all 3s;
    /* background-color:  #E3E1E5; */
}

.text-appear {
    opacity: 1 !important;
}

.music {
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: all 0.5s;
}

.greeting {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quote {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.paging {
    position: fixed;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50px;
    gap: 18px;
    opacity: 0;
    transition: all 1s;
}

.dot {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    transition: all 0.3s;
    background-color: white;
    cursor: pointer;
}

.dot.selected {
    height: 40px;
    border-radius: 10px;
    width: 15px;
    background-color: white;
}

.node {
    width: 50px;
    animation-name: moving-up;
    animation-duration: 20s;
    animation-timing-function: linear;
    position: absolute;
    bottom: -50px;
    left: 0;
}

.control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 5px 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    opacity: 0;
}

.control img {
    transform: translateY(2px);
    transition: all 0.5s;
}

.control.selected img {
    display: none;
}

.lyric {
    position: absolute;
    top: 70%;
    left: 53%;
    text-align: left;
    z-index: 9;
    transform: translate(-50%, -50%);
    width: 330px;
}
.lyric p {
    font-size: 40px;
}
.img-moving{
    transform: translateX(55px);
}
.img-moving-2{
    transform: translateX(-55px);
}
.me{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 900px;
    cursor: pointer;
}
@keyframes moving-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-150vh);
    }
}

@keyframes moving {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}